.form {
	padding: 2%;
	background: $deepblue;
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 1% auto;
	@include breakpoint(lg) {
		background: $deepblue;
		width: 60%;
	}
	&-item {
		background: $platinum;
		padding: 1.5%;
		padding-left: 5%;
		@include breakpoint(lg) {
			padding: 2%;
			padding-top: 2%;
		}
		.newsletter {
			font-size: .7rem;
		}
		textarea {
			width: 95%;
			height: 50px;
			resize: none;
			@include breakpoint(lg) {
				width: 98%;
				height: 50px;
				resize: none;
			}

		}
		ul {
			margin: 0;
			margin-top: 1%;
			padding-left: 2%;
			li {
				list-style: none;
				padding-left: 0;
			}
		}
	}
	&-button {
		padding-top: 4%;
		display: flex;
		justify-content: center;
		button {
			cursor: pointer;
			padding: 5%;
			width: 100%;
			color: $platinum;
			background: $burntorange;
			box-shadow: 0px 0px 2px black;
			border: none;
			@include breakpoint (lg) {
				padding: 1.5%;
				width: 50%;
			}
		}
		button:active {
			transition: .1s ease;
			transform: translateY(2px);
			box-shadow: 0 0 2px white;

		}
	}
}