#map {
	height: 100vh;
	width: 80vw;
	border: 3px solid black;
}

.mapandlist {
	display: flex;
	.list {
		display: flex;
		flex-direction: column;
		background: $deepblue;
		width: 60%;
		height: 100vh;
		overflow: scroll;
		// .js__active {
		// 	background: $deepblue;
		// 	p {
		// 	color: $platinum;
		// 	}
		// }
		@include breakpoint(lg) {
			width: 40%;
		}
		&-eventitem {
			text-decoration: none;
			padding-left: 2%;
			background: $platinum;
			border-bottom: 1px solid black;
			border-top: 1px solid black;
			&-title {
				color: $burntorange;
				font-size: 1.2rem;
				letter-spacing: .1rem;
				font-weight: bold;
				margin: 2%;
				margin-left: 4%;
				text-decoration: underline;
				@include breakpoint(lg) {
					font-size: 1.5rem;
				}
			}
			&-date {
				color: grey;
				margin: 0;
				margin-left: 4%;
				margin-top: 1%;
				margin-bottom: 3%;
			}
			&-desc {
				font-size: .9rem;
				margin: 2%;
				margin-left: 4%;
				color: $deepblue;
				@include breakpoint(lg) {
					font-size: 1rem;
				}
			}
		}
		&-eventitem:hover {
			transition: 0.2s ease;
			background: $deepblue;
			p {
				color: $platinum;
			}
		}
	}
	.js__active {
			background: $deepblue;
			p {
			color: $platinum;
			}
		}
}


.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: $burntorange;
    color: $platinum;
}
