.footer {
	&-newsletter {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background: $platinum;
		padding: 4%;
		padding-top: 6%;
		@include breakpoint(lg) {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: center;
			background: $platinum;
			// padding: 3%;
		}
		&--cta {
			font-size: 4rem;
			margin-top: 0;
			margin-bottom: 8%;
			@include breakpoint(lg) {
				margin-right: 2%;
				font-size: 1.5rem;
				margin-bottom: 0;
			}
		}
		&--textinput {
			resize:none;
			width: 80%;
			height: 4rem;
			font-size: 3rem;
			vertical-align: middle;
			margin-bottom: 5%;
			@include breakpoint(lg) {
				resize:none;
				width: 25%;
				height: 1.94rem;
				font-size: 1.4rem;
				margin-right: 1.5%;
				vertical-align: middle;
				margin-bottom: 0;
			}
		}
		&--signupbtn {
			width: 10%;
			background: $burntorange;
			color: $platinum;
			font-size: 2.5rem;
			border: none;
			padding: 4%;
			width: 40%;
			margin-bottom: 5%;
			@include breakpoint(lg) {
				width: 10%;
				background: $deepblue;
				color: $platinum;
				font-size: 1.2rem;
				border: none;
				padding: .6%;
				margin-bottom: 0;
			}
		}
		&--signupbtn:hover {
			@include breakpoint(lg) {
				color: $platinum;
				background: $burntorange;
				box-shadow: 1px 2px black;
				transform: translateY(-2px);
			}
		}
	}

	&-legalsocial {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		color: $platinum;
		background: $deepblue;
		@include breakpoint(lg) {
			justify-content: space-between;
			// padding: 3% 3%;

		}
		&-legal {
			display: flex;
			flex-direction: column;
			margin-right: 0;
			margin: 2% 0;
			font-size: 2.5rem;
			@include breakpoint(lg) {
				flex-direction: row;
				font-size: .8rem;
				flex-shrink: 0;
			}
			&--contact, &--terms, &--privacy {
				display: flex;
				color: $platinum;
				margin: 2% 0;
				@include breakpoint(lg) {
					margin-left: 3%;
					flex-shrink: 0;
					color: grey;

				}
			}
			&--contact:hover, &--terms:hover, &--privacy:hover {
				color: $platinum;
			}
		}
		&--copyright {
			display: flex;
			color: grey;
			margin: 0;
			@include breakpoint(lg) {
				align-self: center;
				flex-shrink: 0;
				margin-left: 15%;
				// margin-right: 30%;
				color: grey;
				// flex-shrink: 0;
			}
		}
		&-social {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 25vw;
			flex-shrink: 0;
			@include breakpoint(lg) {
				margin-left: 0;
				flex-shrink: 0;
			}
		}

	}
}

.fa-envelope {
	font-size: 9rem;
	color: $burntorange;
	@include breakpoint(lg) {
		padding-right: 30%;
		font-size: 4rem;
	}
}
.fa-facebook, .fa-google-plus-square, .fa-twitter-square, .fa-youtube-square {
	font-size: 7rem;
	padding: 5%;
	color: $platinum;
	@include breakpoint(lg) {
		font-size:2rem;
		padding: 25%;
	}
}
.fa-facebook:hover, .fa-google-plus-square:hover, .fa-twitter-square:hover, .fa-youtube-square:hover {
	color: $burntorange;
	transform: translateY(-2px);
}

