.sectiontitle {
	background-color: $deepblue;
	color:$platinum;
	padding: 3% 0;
	padding-left: 4%;
	font-size: 5rem;
	@include breakpoint(lg) {
		font-size: 2rem;
		padding: 2% 0;
		padding-left: 4%;
	}
}