// Master SCSS File

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-size: 12pt;
}

$platinum: #DFE1E7;
$deepblue: #121A2C;
$burntorange: #7D301A;

// INDEX

@import 'breakpoints.scss';

@import "m-navigation.scss";

@import "m-hero.scss";

@import "m-combined_feature.scss";

@import "m-footer.scss";

// CONTACT US FORM

@import 'contactform.scss';

// ADVENTURE

@import 'm-categoryhero.scss';

@import 'm-categorybody.scss';

@import 'm-sectiontitle.scss';

@import 'm-areapromo.scss';

@import 'm-areaeventlist.scss';

// PLAN

@import 'plan_accordion.scss';

@import 'plan_contactus.scss';

@import 'plan_header.scss';

// COMMUNITY

@import 'community_articleitem.scss';

@import 'community_filter.scss';

// EXPLORE

@import 'explore_map.scss';


