.contactus {
	background: $platinum;
	display:flex;
	flex-direction: column;
	width: 60%;
	align-items: center;
	margin: 3% auto;
	@include breakpoint(lg) {
		width: 40%;
	}
	&-questions {
		color: $deepblue;
		font-size: 2.5rem;
		@include breakpoint(lg) {
			font-size: 1.5rem;
		}
	}
	&-link {
		color: $burntorange;
		font-size: 3rem;
		margin-bottom: 3vh;
		@include breakpoint(lg) {
			margin-bottom: 3vh;
			font-size: 1.5rem;
		}
	}
}

#thankyouform {
	display: none;
	text-align: center;
	padding: 5%;
	padding-bottom: 8%;
	.thanks-header {
		font-size: 3rem;
		padding: 0;
		margin: 2%;
	}
	.thanks-paragraph {
		font-size: 1.2rem;
	}
}

.hidden {
	display: none;
}